h1{
    font-family: Rajdhani;
    font-size: 70px;
}

div.bloc1{
    h2{
        font-family: Pridi;
    }

    p{
        font-family: Overpass;
    }

    background-color: #FF9249;
}

div.bloc2{
    h2{
        font-family: Pridi;
    }

    p{
        font-family: Overpass;
    }

    background-color: #FF9249;
}

div.bloc3{
    h2{
        font-family: Pridi;
    }

    p{
        font-family: Overpass;
    }

    background-color: #FF9249;
}

div.bloc4{
    h2{
        font-family: Pridi;
    }

    p{
        font-family: Overpass;
    }

    background-color: #FF9249;
}